body {
    margin: 0px;
    padding: 0px;
}

.mailer-container {
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.sidebar {
    width: 25%;
    height: 100vh;
    overflow-y: auto;
    border-right: 1px solid #ccc;
}

.preview-container {
    width: 75%;
    height: 100vh;
    overflow-y: auto;
}

.mailer-card {
    width: 100%;
    border: 1px solid #ccc;
    height: 200px;
}

.mailer-card-title {
    font-size: 25px;
    font-weight: bold;
    color: cadetblue;
}